html, body {
    margin: 0;
    padding: 0;
}

fieldset {
    padding: 0;
    border: none;
    display: flex;
}

img {
    display: block;
    width: 40vw;   
    height: 100%;
}

.form-img {
    margin-left: -2px;
}


.img-section {
    display: flex;
    flex-direction: column;
    position: relative;
}

.footer {
    position: absolute; /* Position the footer within the container */
    bottom: 0; /* Align at the bottom of the image */
    width: 100%; /* Full width of the container */
    background: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
    color: white; /* Text color */
    text-align: center; /* Center text horizontally */
    padding: 10px 0; /* Add spacing inside the footer */
    font-size: 16px; /* Adjust font size as needed */
    font-family: "Lexend", sans-serif;
}

.img-section .title {
    position: absolute; /* Optional for more control */
    color: rgb(253, 253, 253);
    text-shadow: 4px 4px #1b6bb6;
    font-size: 5rem;
    top: 25%;
    left: 25%;
    transform: translate(-25%, -25%);
    text-align: center;
    font-family: "Lexend", sans-serif;
}

.title {
    background-color: rgba(255, 255, 255, 0.2);
    width: 39.9vw;
}

.form-section {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(101, 137, 236);
    font-family: "Roboto", sans-serif;
    padding: 90px;
    gap: 6rem;
}

.info-text {
    font-size: 3rem;
    font-weight: 500;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 250, 250);
    gap: 20px;
    padding: 75px;
    border-radius: 5px;
}

.row {
    display: flex;
    gap: 30px;
    flex-grow: 1;
}

.label-and-input {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

label {
    font-weight: 500;
    color: rgb(68, 65, 65);
}

.btn-createAcc {
    background-color: #4CAF50; /* Button background color */
    color: white; /* Text color */
    padding: 10px 20px; /* Padding inside the button */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Text size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: 0.25s;
    font-size: 2rem;
    margin-left: 300px;
    margin-top: -50px;
}

.btn-createAcc:hover {
    background-color: #45a049 ; /* Lighter shade on hover */
}

.login {
    font-size: 2rem
}

a {
    color: #45a049; /* Default text color */
    text-decoration: none; /* Removes underline */
  }
  
  a:hover {
    color: #68e46e; /* Color on hover */
    
  }
  
  a:visited {
    color: #1e6121; /* Color for visited links */
  }
  
  a:active {
    color: #02f30e; /* Color when the link is active (clicked) */
  }